* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #d895b1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-box {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.illustration {
    background-color: whitesmoke;
    color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illustration h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.illustration img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form .forgot-password {
    display: inline-block;
    margin-bottom: 20px;
    color: #6e5cff;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-form button {
    width: 100%;
    padding: 15px;
    background-color: #9b5372;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.login-form button:hover {
    background-color: #bf7896;
}

.create-account {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #6e5cff;
    text-decoration: none;
    font-size: 1rem;
}

.create-account:hover {
    text-decoration: underline;
}

